.myHeader {
    display: flex;
    margin-top: 120px;
    height: 400px;
    width: 100%;
    align-items: center;
    flex-direction: column;    
    background-color:#BBD5ED;
    background-image: url('../images/black-linen.png');
}

p.userProfileName {
    font-size: xx-large;
    margin-top: 0px;
}


#userProfilePic {
    margin-top: 10%;
}