
  #tweet-text {
    display:flex;

    /* Disables outline on focus and removes the corner resizer */
    outline:none;
    resize: none;

    width: 90%;
    margin-left: 5%;
    margin-bottom: 1%;
    text-align: right;
    font-weight: bold;
    background: transparent;
    border: none;
    border-bottom: 2px solid rgb(75, 72, 72);
  }

  .newTweetFooter {
    display:flex;
    justify-content: space-between;
  }

  #counter {
    font-weight: bold;
  }

  .tweets {
    width: 98%;
    margin-top: 4%;
    margin-left: 1%;
    margin-bottom: 4%;
    padding-bottom: 2%;
    border: 3px solid rgb(75, 72, 72);
  }

  .tweets:hover {
    box-shadow: 5px 5px 20px#778472;
  }

  .tweetHead {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .leftTweet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }

  #userHandle {
    display: flex;
    margin-right: 2%;
    margin-top: 2%;
    font-size:smaller;    
  }

  #profilePic {
    margin-left:0.75em;
    margin-top:0.75em;
    margin-right: 0.75em;
    width: 100px;
    height: 100px;
  }

  .tweetContent {
    border-bottom: 2px solid black;
    width: 95%;
    margin-left: 2.5%;
    padding: 2%;
  }

  .tweetFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 2px solid black; */
  }

  .tweetIcons {
    display: flex;
    flex-direction: row; 
    color: #4056A1;
    margin-right: 5%;
    margin-top: 2%;
    height:fit-content;
  }

  #iFlag:hover{
    color: #778472;
  }
  #iRetweet:hover{
    color: #778472;
  }
  #iHeart:hover{
    color: #778472;
  }

  #iRetweet {
    margin-right: 10%;
    margin-left: 10%;
  }

  .timeSinceTweet {
    display: flex;
    margin-top:2%;
    margin-left: 3%;
    font-size: 75%;
  }